.container {
  height: 100vh;
  flex-basis: 80%; // Width of the container

  //Grid definition
  display: grid;
  grid-template-rows: max-content auto;
  grid-template-columns: clamp(50rem, 80%, 120rem);

  align-items: center;
  justify-content: center;
}

.heading {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
  margin-bottom: -2rem;
}

.gameGrid {
  display: grid;

  min-width: 50rem;
  flex-shrink: 1;
  height: 80%;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem;
}

.gameButton {
  font-size: 15vw;
  border: none;
  color: white;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;
  // margin: 0 auto;

  &:hover {
    transform: translateY(0.3rem);
    border: 0.3rem solid silver;
  }

  &:active {
    transform: translateY(0.6rem);
  }
}

.red {
  background-color: hsl(0, 79%, 48%);
}

.green {
  background-color: green;
}
