.gameContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 80%; // Width of the container
  align-items: center;
}

.heading {
  color: white;
  font-size: 3rem;
  text-align: center;
  margin: auto 0 0;
  padding: 0;
}

.resetButton {
  background-color: yellow;
  margin: 2rem 0 auto;
  font-size: 3rem;
  flex-grow: 0;
  border: 0;
  border-radius: 100px;
  padding: 10px;

  &:hover {
    transform: translateY(0.3rem);
  }

  &:active {
    transform: translateY(0.6rem);
  }
}

.gameGrid {
  display: grid;
  margin: 1.5rem 0 auto;
  justify-self: center;

  align-self: stretch;

  flex-shrink: 1;
  height: 80%;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.5rem;
}

.gameButton {
  font-size: 14vh;
  border: none;
  color: white;
  overflow: hidden;
  border-radius: 10px;
  text-align: center;

  &:hover {
    transform: translateY(0.3rem);
    border: 0.3rem solid silver;
  }

  &:active {
    transform: translateY(0.6rem);
  }
}

.red {
  background-color: hsl(0, 79%, 48%);
}

.green {
  background-color: green;
}
